.backgroundColor {
  background-color: black;
}

header {
  background-color: gold;
  font-size: 60pt;
  font-weight: bold;
  font-family: "Luckiest Guy", cursive;
  text-align: center;
  color: white;
  border-radius: 200px;
  margin-bottom: 30px;
}
.img-thumbnail {
  height: 150px;
  width: 150px;
  padding: ;
}

p,
h1 {
  text-align: center;
  color: white;
  font-family: "Fredoka One", cursive;
  font-size: 18pt;
}

.col-sm-3 {
  margin-top: 30px;
  width: 180px;
  background-color: black;
  border: 4px solid goldenrod;
  border-radius: 15px 50px;
}
